[submodule "AtomHack-Final-frontend"]
	path = AtomHack-Final-frontend
	url = https://github.com/Tifftal/AtomHack-Final-frontend.git
[submodule "AtomHackFinalAuthService"]
	path = AtomHackFinalAuthService
	url = https://github.com/certified-juniors/AtomHackFinalAuthService
[submodule "AquarionBackend"]
	path = AquarionBackend
	url = https://github.com/Sh1bari/AquarionBackend.git
[submodule "AtomHackFinalEmailService"]
	path = AtomHackFinalEmailService
	url = https://github.com/certified-juniors/AtomHackFinalEmailService
